click==7.1.2
cycler==0.10.0
gunicorn==20.1.0
joblib==1.0.0
kiwisolver==1.3.1
matplotlib==3.3.3
nltk==3.5
numpy==1.19.5
pandas
Pillow
pyparsing
python-dateutil
pytz
regex
scikit-learn
scipy
six
sklearn
stopwords
threadpoolctl
tqdm
Jinja2==3.0
Flask
flask_mysqldb
bs4
statistics
MySQL
datetime


